@import url("https://fonts.googleapis.com/css2?family=Passion+One&display=swap");
#navbar {
  visibility: hidden;
  width: 0;
  height: 0;
}

.sidenav {
  visibility: hidden;
  width: 0;
  height: 0;
}

.fixed_top {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
}

html {
  overflow-x: hidden;
  background: #f1eaea;
}

body {
  background: #f1eaea;
}

.top {
  padding-top: 0.5%;
  font-family: 'Passion One', cursive;
  font-size: 1rem;
  padding-top: 1%;
  background: white;
}

.top .col .main1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.top .col .main2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top .col .main3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.nav-top {
  padding: 0% 3%;
  background: #f1eaea;
}

.nav-top .row .col-6 {
  padding-top: 2%;
}

.nav-top .row .col-6 a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0%;
}

.nav-top .row .logo {
  font-family: 'Passion One', cursive;
  font-size: 3rem;
  padding-top: 1%;
}

.nav-top .row .signin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-top .row .signin .row {
  padding-top: 6%;
}

.nav-top .row .signin .row .col {
  text-align: center;
}

.nav-top .row .signin .row .col i {
  font-size: 28px;
}

.nav-top .row .signin .row .col p {
  font-size: 10px;
  font-weight: bold;
}

.nav-top .row .cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-top .row .cart .row .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.nav-top .row .cart .row .col .circle {
  width: 25%;
  height: 40%;
  background: #FFC107;
  position: absolute;
  top: -15%;
  left: -2%;
  color: white;
  padding: .05%;
  font-family: 'Passion One', cursive;
}

.nav-top .row .cart .row .col p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 14px;
  font-weight: bold;
}

.nav-top .row .cart .row .col button i {
  -webkit-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nav-below {
  width: 100%;
  padding: 0%  3%;
  margin: 1% 0%;
  background: #f1eaea;
}

.nav-below .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.nav-below .row .col-6 .row .col {
  padding-top: auto;
}

.nav-below .row .col-6 .row .col p {
  font-size: 20px;
  padding-top: 5%;
  font-family: 'Passion One', cursive;
}

.nav-below .row .below .row {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav-below .row .below .row .col {
  padding-top: auto;
  position: relative;
}

.nav-below .row .below .row .col .active {
  background: #ff7b00;
  position: absolute;
  color: white;
  right: 5%;
  top: -15%;
  width: 20%;
  text-align: center;
  font-family: 'Passion One', cursive;
}

.nav-below .row .below .row .col .active2 {
  background: #FFC107;
  position: absolute;
  color: white;
  right: 5%;
  top: -15%;
  width: 20%;
  text-align: center;
  font-family: 'Passion One', cursive;
}

.nav-below .row .below .row .col p {
  padding-top: 5%;
  font-size: 20px;
  font-family: 'Passion One', cursive;
}

.banner {
  padding: 0%  3%;
}

.banner .col-4 .img1 {
  width: 100%;
  height: 45%;
  background-image: url(./images/images.png);
  margin: 2% 0%;
  background-position: center;
  background-size: cover;
}

.banner .col-4 .img2 {
  width: 100%;
  height: 50%;
  background-image: url(./images/hp-8300-desktop-500x500.jpg);
  margin-top: 5% 0;
  background-position: center;
  background-size: cover;
}

.ourUs {
  background: #272626;
  color: white;
}

.ourUs .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 2% 0;
}

.ourUs .row .inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  justify-self: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ourUs .row .inner .icon {
  border: 1px solid #4d4dfa;
  border-radius: 100%;
  padding: 4%;
}

.ourUs .row .inner .text {
  color: grey;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.ourUs .row .inner i {
  font-size: 25px;
  color: orangered;
}

.ourUs .row .inner p {
  font-family: 'Passion One', cursive;
  letter-spacing: 0.2ch;
  font-size: 20px;
  color: white;
}

.pop_bg {
  width: 0%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.555);
  position: fixed;
  top: 0%;
  left: 0%;
}

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: none;
}

.contextBox {
  position: relative;
  width: 600px;
  height: 400px;
  background: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.contextBox .imgBx {
  position: relative;
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contextBox .imgBx::before {
  content: "";
  position: absolute;
  width: 250px;
  height: 250px;
  background: #e7ffe0;
  border-radius: 50%;
}

.contextBox .imgBx img {
  position: relative;
  max-width: 250px;
  z-index: 1;
}

.contextBox .content {
  position: relative;
  width: 300px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contextBox .content h3 {
  color: black;
  line-height: 1em;
  font-weight: 300;
  font-size: 2em;
}

.contextBox .content h2 {
  font-size: 4em;
  color: #FFC107;
  line-height: 1em;
}

.contextBox .content h2 span {
  color: #333;
  font-size: 0.75em;
  text-transform: uppercase;
}

.contextBox .content p {
  font-weight: 300;
}

.contextBox .content a {
  display: inline-block;
  padding: 10px 20px;
  background: #0D6EFD;
  color: #fff;
  margin-top: 15px;
  text-transform: none;
  border-radius: 10px;
}

.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background: #f3f3f3 url(./images/close.png);
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
  z-index: 10;
}

.seller {
  text-align: center;
  padding: 2% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seller h2 {
  font-family: 'Passion One', cursive;
  font-size: 50px;
}

.seller hr {
  color: orangered;
  width: 20%;
  border: 1px solid;
}

.categories .categories_nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.categories .categories_nav .row {
  font-family: 'Passion One', cursive;
  background: rgba(139, 137, 137, 0.788);
  width: 30%;
}

.categories .categories_nav .row .main {
  position: relative;
  color: white;
}

.categories .categories_nav .row .main .active {
  position: absolute;
  right: 50%;
  bottom: -15%;
  -webkit-clip-path: polygon(51% 100%, 0 0, 100% 0);
          clip-path: polygon(51% 100%, 0 0, 100% 0);
  width: 50%;
}

.categories .categories_card {
  padding: 2% 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Media Queries */
}

.categories .categories_card .row .card_background {
  background-size: cover;
  background-repeat: no-repeat;
}

.categories .categories_card .row .card {
  background-image: url(./images/Capture2.PNG);
  position: relative;
}

.categories .categories_card .row .card .active {
  position: absolute;
  right: 5%;
  top: 2%;
  background: orangered;
  border: 0.5px solid red;
  color: white;
}

.categories .categories_card .row .card_background {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/ahmed-carter-tiWcNvpQF4E-unsplash.jpg);
}

.categories .categories_card .row .card_background .card-body {
  position: relative;
}

.categories .categories_card .row .card_background .card-body .btn_active {
  position: absolute;
  bottom: 5%;
  left: 25%;
}

.categories .categories_card .row .ele1 {
  background-image: url(./images/erik-mclean-wpe6ypyQrC4-unsplash.jpg);
}

.categories .categories_card .row .ele2 {
  background-image: url(./images/jazmin-quaynor-FoeIOgztCXo-unsplash.jpg);
}

.categories .categories_card .row .ele3 {
  background-image: url(./images/dan-edge-VZKl6bdFqmA-unsplash.jpg);
}

.categories .categories_card .row .ele4 {
  background-image: url(./images/alyssa-strohmann-2r2RUsEU1Aw-unsplash.jpg);
}

.categories .categories_card .row .ele5 {
  background-image: url(./images/heather-ford-5gkYsrH_ebY-unsplash.jpg);
}

.categories .categories_card .slider-heading h4 {
  font-size: 1.5em;
  margin-bottom: 0;
}

.categories .categories_card .slider-heading h6 {
  font-size: .9em;
  margin-bottom: 0;
}

.categories .categories_card .view-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.categories .categories_card .view-btn button {
  font-size: .9em;
  padding: .4em 1.5em;
  border-radius: 0;
}

.categories .categories_card .sales {
  cursor: pointer;
  height: 15em;
  padding: 0em 1em;
  margin: .1em .2em;
  width: 13em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 0;
}

.categories .categories_card .sales img {
  height: 60%;
  -webkit-transform: scale(0.97);
          transform: scale(0.97);
}

.categories .categories_card .sales img:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.categories .categories_card .sales a {
  text-decoration: none;
  color: #388e3c;
  font-size: .95em;
}

.categories .categories_card .sales h6 {
  color: black;
  font-size: .9em;
}

.categories .categories_card .sales p {
  color: #212121;
  opacity: .6;
  font-size: .85em;
  margin-top: .6em;
}

@media screen and (max-width: 576px) {
  .categories .categories_card .slider-heading h4 {
    font-size: 1.2em;
    margin-bottom: 0;
  }
  .categories .categories_card .sales img:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

/* Footer */
footer {
  background-color: #272626;
  color: white;
  padding-top: 3%;
}

.Footer h6 {
  color: #878787;
  font-size: .8em;
}

.Footer > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: .75em;
  font-weight: 100;
}

.Footer a {
  color: white;
  line-height: 1.3rem;
}

.Footer p {
  margin: 0;
  font-size: .96em;
  line-height: 1.2rem;
}

footer i {
  color: gold;
}

footer span {
  font-size: .75em;
  cursor: pointer;
}

@media screen and (max-width: 1211px) {
  .nav-below .row .col-6 .row .col .active {
    font-size: 12px;
  }
  .nav-below .row .col-6 .row .col p {
    font-size: 15px;
    padding-top: 5%;
    font-family: 'Passion One', cursive;
  }
  .nav-below .row .below .row .col .active2 {
    visibility: hidden;
  }
  .nav-below .row .below .row .col .active {
    font-size: 12px;
  }
  .nav-below .row .below .row .col p {
    padding-top: 5%;
    font-size: 15px;
    font-family: 'Passion One', cursive;
  }
  .categories .categories_nav .row {
    width: 40%;
  }
}

@media screen and (max-width: 1085px) {
  .cart {
    visibility: hidden;
    opacity: 0;
    display: none;
    width: 0;
    height: 0;
  }
  .categories .categories_nav .row {
    width: 50%;
  }
}

@media screen and (max-width: 691px) {
  .categories .categories_nav .row {
    width: 90%;
  }
  .top {
    font-family: 'Passion One', cursive;
    font-size: 10px;
    padding-top: 1%;
  }
  .nav-top {
    padding: 0% 3%;
  }
  .nav-top .row .col-6 {
    padding-top: 2%;
  }
  .nav-top .row .logo {
    font-family: 'Passion One', cursive;
    font-size: 2rem;
    padding-top: 1%;
  }
  .nav-top .row .signin {
    width: 0;
    visibility: hidden;
    height: 0;
  }
  .nav-top .row .cart {
    visibility: visible;
    opacity: 100%;
    display: block;
    width: 100%;
    height: 100%;
    padding-top: 2%;
  }
  .nav-top .row .cart .btn-group-lg > .btn, .nav-top .row .cart .btn-lg {
    padding: -0.5rem 0rem;
    font-size: 0.9rem;
    border-radius: .3rem;
  }
  .seller h2 {
    font-family: 'Passion One', cursive;
    font-size: 45px;
  }
  .ourUs .row .inner i {
    font-size: 14px;
    color: orangered;
  }
  .ourUs .row .inner p {
    font-family: 'Passion One', cursive;
    letter-spacing: 0.2ch;
    font-size: 15px;
    color: white;
  }
  .ourUs .row .inner .text {
    color: grey;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 11px;
  }
}

@media screen and (max-width: 400px) {
  #navbar {
    visibility: none;
    opacity: 100;
  }
  .sidenav {
    visibility: none;
    opacity: 100;
  }
  .categories .categories_card .sales {
    cursor: pointer;
    height: 16em;
    padding: 2em 1em;
    margin: 1.1em .2em;
    width: 11em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
  }
  .contextBox .imgBx img {
    position: relative;
    max-width: 165px;
    z-index: 1;
  }
  .contextBox .imgBx::before {
    content: "";
    position: absolute;
    width: 142px;
    height: 177px;
    background: #e7ffe0;
    border-radius: 50%;
  }
  .contextBox .content h3 {
    color: black;
    line-height: 1em;
    font-weight: 300;
    font-size: 1.5;
  }
  .contextBox .content h2 {
    font-size: 2em;
    color: #FFC107;
    line-height: 1em;
  }
  .contextBox .content p {
    font-weight: 300;
    font-size: 14px;
  }
  .contextBox {
    position: relative;
    width: 329px;
    height: 370px;
  }
  .contextBox .content a {
    display: inline-block;
    padding: 6px 7px;
    background: #0D6EFD;
    color: #fff;
    margin-top: 15px;
    text-transform: none;
    border-radius: 10px;
  }
  .contextBox .imgBx img {
    position: relative;
    max-width: 57px;
    z-index: 1;
  }
  .contextBox .imgBx::before {
    content: "";
    position: absolute;
    width: 74px;
    height: 83px;
    background: #e7ffe0;
    border-radius: 50%;
  }
  .contextBox .content {
    position: relative;
    width: 479px;
    height: 400px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 26px;
    background: #f3f3f3 url(./images/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
  }
  .seller h2 {
    font-family: 'Passion One', cursive;
    font-size: 30px;
  }
  .seller p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 11px;
  }
  .categories .categories_nav {
    font-size: 12px;
  }
  .card .btn {
    font-size: 12px;
  }
  .categories .categories_card .sales {
    cursor: pointer;
    height: 15em;
    padding: 1em 0.5em;
    margin: 1.1em .2em;
    width: 10em;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 0;
  }
  .ourUs .row .inner p {
    font-family: 'Passion One', cursive;
    letter-spacing: 0.2ch;
    font-size: 8px;
    color: white;
  }
  .ourUs .row .inner .text {
    color: grey;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    font-size: 6px;
  }
  .ourUs .row .inner i {
    font-size: 5px;
    color: orangered;
  }
  .ourUs .row .inner .icon {
    border: 0px solid #4d4dfa;
    border-radius: 28%;
    padding: -3%;
  }
  .banner .col-8 {
    z-index: 0;
    width: 100%;
  }
  #navbar {
    background-color: #2874f0;
    color: #FFFFFF;
    visibility: visible;
    width: 100%;
    height: 162.469px;
  }
  #navbar .row {
    padding: 2% 0;
    padding-right: 3%;
  }
  #navbar .col-sm-2 {
    font-family: 'Passion One', cursive;
    font-size: 20px;
  }
  #navbar .h2, #navbar h2 {
    font-size: 31px;
  }
  .navbar-input {
    padding: 11px 16px;
    border-radius: 2px 0 0 2px;
    border: 0 none;
    outline: 0 none;
    font-size: 15px;
  }
  .navbar-button {
    background-color: #ffe11b;
    border: 1px solid #ffe11b;
    border-radius: 0 2px 2px 0;
    color: #565656;
    padding: 10px 0;
    height: 43px;
    cursor: pointer;
  }
  .cart-button {
    background-color: #2469d9;
    -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23), inset 1px 1px 0 0 rgba(255, 255, 255, 0.2);
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23), inset 1px 1px 0 0 rgba(255, 255, 255, 0.2);
    padding: 10px 0;
    text-align: center;
    height: 41px;
    border-radius: 2px;
    font-weight: 500;
    width: 120px;
    display: inline-block;
    color: #FFFFFF;
    text-decoration: none;
    color: inherit;
    border: none;
    outline: none;
  }
  .cart-button:hover {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
  }
  .cart-svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    margin-right: 8px;
  }
  .item-number {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.1);
    height: 20px;
    padding: 3px 6px;
    font-weight: 500;
    display: inline-block;
    color: #fff;
    line-height: 12px;
    margin-left: 10px;
  }
  .upper-links {
    display: inline-block;
    padding: 0 11px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0;
    color: inherit;
    border: none;
    outline: none;
    font-size: 12px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
    margin-bottom: 0px;
  }
  .dropdown:hover {
    background-color: #fff;
  }
  .dropdown:hover .links {
    color: #000;
  }
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  .dropdown .dropdown-menu {
    position: absolute;
    top: 100%;
    display: none;
    background-color: #fff;
    color: #333;
    left: 0px;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 4px 8px -3px #555454;
            box-shadow: 0 4px 8px -3px #555454;
    margin: 0;
    padding: 0px;
  }
  .links {
    color: #fff;
    text-decoration: none;
  }
  .links:hover {
    color: #fff;
    text-decoration: none;
  }
  .profile-links {
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-bottom: 1px solid #e9e9e9;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: block;
    padding: 0 11px;
    line-height: 23px;
  }
  .profile-li {
    padding-top: 2px;
  }
  .largenav {
    display: none;
  }
  .smallnav {
    display: block;
  }
  .smallsearch {
    margin-left: 15px;
    margin-top: 15px;
  }
  .menu {
    cursor: pointer;
  }
  /*Sidenav*/
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 4px 8px -3px #555454;
            box-shadow: 0 4px 8px -3px #555454;
    padding-top: 0px;
    visibility: visible;
  }
  .sidenav a {
    padding: 8px 0px 19px 12px;
    text-decoration: none;
    font-size: 25px;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 21px;
    letter-spacing: 2px;
    font-family: 'Passion One', cursive;
    border-bottom: 1px solid rgba(128, 128, 128, 0.356);
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
  }
  .sidenav-heading {
    font-size: 36px;
    color: #fff;
  }
  .top {
    font-family: 'Passion One', cursive;
    font-size: 10px;
    padding-top: 1%;
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .nav-top {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .cart {
    visibility: hidden;
    width: 0;
    height: 0;
  }
  .col-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 109%;
  }
  .nav-below .add {
    visibility: hidden;
    width: 0;
    height: 0;
    opacity: 0;
  }
  .nav-below .col-4 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100.333333%;
  }
  .nav-top .row .cart .row .col p {
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    font-size: 0px;
    font-weight: bold;
  }
  .nav-top .row .cart .btn-lg {
    visibility: hidden;
  }
}
/*# sourceMappingURL=style.css.map */